@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #34495e;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.container p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.container input {
    background-color: #eee;
    background: none;
    border: 2px solid #3498db;
    margin: 10px auto;
    padding: 14px 10px;
    font-size: 13px;
    border-radius: 24px;
    width: 200px;
    outline: none;
    color: white;
    text-align: center;
    /* display: block; */
    transition: 0.5s;
}

.container input:hover {
    width: 240px;
    border-color: #2ecc71;
    background: rgba(52, 152, 219, 0.5);
    color: white;
}

.container input:hover::placeholder {
    color: white;
    transition: 0.5s;
}

.header {
    color: #fff;
    margin-bottom: 10px;
    display: flex;
    /* Добавляем flex-контейнер */
    justify-content: space-between;
    align-items: center;
    /* Выравниваем элементы по вертикали */
    border-color: #333;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
    /* display: inline-flex; */
    width: 100%;
}

.form-container button {
    text-transform: none;
}

.form-container button:hover {
    background: #2ecc71;
}

.container form {
    background-color: #191919;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

.container button {
    /* background-color: #512da8; */
    background: none;
    color: #fff;
    /* display: block; */
    font-size: 12px;
    padding: 14px 40px;
    border: 2px solid #2ecc71;
    border-radius: 24px;
    outline: none;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-align: center;
    margin: 20px auto;
    cursor: pointer;
    transition: 0.25s;
    text-transform: uppercase;
}

.container a {
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

#step1 {
    z-index: 3;
}

#step2 {
    z-index: 2;
}

#step3 {
    z-index: 1;
}

#step1_err, #step2_err, #step3_err{
    color: red;
    font-size: 12px;
}

.container {
    background: #191919;
    border-radius: 30px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    color: white;
}

.header .list:hover h4 {
    color: #333;
    border-color: rgb(148, 148, 148);
    cursor: pointer;
}